*,*:after,*:before
	box-sizing: border-box
	margin: 0
	padding: 0
	user-select: none
	-webkit-user-select: none
	-moz-user-select: none

$color: #ddd
$background-color: rgba(0,0,0,0.7)
$highlight-color: rgba(255,255,255,0.2)
$box-shadow-color: rgba(0,0,0,0.8)

$padding: 22px
$border-radius: 15px

$animation-duration: 200ms
$default-transition: opacity $animation-duration, transform $animation-duration, color $animation-duration, background-color $animation-duration

// Portrait support
@media screen and (max-aspect-ratio: 4/3)
	body
		flex-direction: column

@mixin box
	padding: $padding
	//backdrop-filter: blur(5px) // I wanted to use this for this project, but it's too soon. :<
	background-color: $background-color
	border-radius: $border-radius
	box-shadow: 0 0 10px $box-shadow-color

@mixin spread
	position: absolute
	width: 100%
	height: 100%

@mixin spread-tl
	@include spread
	left: 0
	top: 0

@mixin arrow($direction,$size,$color)
	content: ''
	display: block
	width: 0
	height: 0
	position: absolute

	border-top: $size solid transparent
	border-right: $size solid transparent
	border-bottom: $size solid transparent
	border-left: $size solid transparent

	@if $direction==0
		border-top: $size solid $color
	@else if $direction==1
		border-right: $size solid $color
	@else if $direction==2
		border-bottom: $size solid $color
	@else if $direction==3
		border-left: $size solid $color

@font-face
	font-family: exo
	src: url('../font/Exo-Medium.ttf')

::selection
	background-color: $highlight-color

body,html
	height: 100%
	color: $color
	background-color: black

body
	display: flex

// Disable text selection
p,span
	cursor: default
	user-select: none
	-webkit-user-select: none
	-moz-user-select: none

// Main inputs and text
input,textarea,p,span,button,select
	color: $color
	font-size: 1.22em
	text-shadow: 2px 2px 2px rgba(0,0,0,0.2)
	border: 0
	outline: 0
	background: transparent
	font-family: exo, sans, sans-serif

// links
a
	color: #0ff

$tooltip_arrow_size: 12px
.tooltip
	@include box
	box-shadow: none
	padding: 4px 10px
	z-index: 1
	position: relative

	transition: opacity $animation-duration*2

	&.top
		margin-bottom: $tooltip_arrow_size + 2px
		&:after
			@include arrow(0,$tooltip_arrow_size,$background-color)

			bottom: -$tooltip_arrow_size*2
			right: $border-radius + 10px

	&.bottom
		margin-top: $tooltip_arrow_size + 2px
		&:after
			@include arrow(2,$tooltip_arrow_size,$background-color)

			top: -$tooltip_arrow_size*2
			right: $border-radius + 10px

.side
	opacity: 0
	flex-direction: column

	transition: opacity $animation-duration*5

.modal,.side
	display: flex
	justify-content: center
	align-items: center

	flex: 1 1

	overflow: hidden
	position: relative

.modal
	@include spread
	transition: $default-transition
	height: 10%

	&.center
		height: 100%

	&.top
		opacity: 0
		top: 0
		background: linear-gradient(0deg,transparent 5%,$background-color)
		div
			transform: translateY(-200%)

	&.bottom
		opacity: 0
		bottom: 0
		background: linear-gradient(180deg,transparent 5%,$background-color)
		div
			transform: translateY(200%)

	&:hover
		opacity: 1
		div
			transform: translateY(0)

	div
		transition: $default-transition

		p
			font-size: 0.9em

	.swap
		@include box
		padding: 5px

.editable,button
	display: inline-block
	transition: $default-transition
	cursor: pointer

	&:hover
		color: #fff
		transform: scale(1.1,1.1)
		text-shadow: 2px 2px 5px black

		&:active
			transform: scale(1.05,1.05)

.hidden
	opacity: 0
	pointer-events: none

$dropdown-padding: $padding
$dropdown-li-padding: 3px
$dropdown-arrow-size: 6px

.dropdown
	display: inline-block
	vertical-align: bottom

	position: relative
	overflow: hidden
	margin: 0 auto

	outline: none
	cursor: pointer

	span
		display: inline-block
		margin: 0 20px 0 10px

	&.active
		overflow: visible

		ul
			opacity: 1
			pointer-events: all

			li:hover
				background-color: $highlight-color
				transform: translateX(5px)
				color: #fff

		&:before
			transform: rotate(180deg)

	ul
		cursor: default
		z-index: 22

		position: absolute
		top: 100%

		@include box

		left: -$dropdown-padding
		padding: $dropdown-padding

		list-style: none

		// ie
		li
			list-style: none
			padding: $dropdown-li-padding

			border-radius: 5px

			transition: $default-transition

			cursor: pointer

		opacity: 0
		pointer-events: none

		transition: $default-transition

	// Dropdown down arrow
	&:before
		@include arrow(0,$dropdown-arrow-size,white)
		right: 0px
		top: 50%
		margin-top: -$dropdown-arrow-size
		border-bottom: 0

		// So this is a very hackish solution to get some sort of shadow on the arrow.
		// Please forgive me.

		color: transparent
		content: '"'
		line-height: 5px
		text-indent: -4px
		text-shadow: 0px 0px 10px black

		transition: $default-transition

.input,.background
	opacity: 0
	transition: transform $animation-duration*4, opacity $animation-duration*2

div.input
	display: flex
	flex-direction: column

	padding: $padding

	transform: translateX(-100px)

	&:before
		content: ''
		@include spread-tl
		@include box

	// Cheating input
	p
		position: relative
		input
			position: absolute

img.background
	@include spread-tl
	left: -50px
	// *2 for both sides
	width: calc( 100% + 100px )
	height: 100%

	object-fit: cover

	pointer-events: none

	transform: translateX(-50px)

#loading
	transition: $default-transition
